/****Testing****/

/****WIP****/
#construction{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}
#construction-kiwi{
  height: 75vh;
  object-fit: contain;
}

.construction-message {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 24px;
}
/****Initialisation****/
/*Colours*/
:root {
  --red: #ff595e;
  --yellow: #ffca3a;
  --green: #8ac926;
  --blue: #1982c4;
}

.colour-publications {
  background-color: var(--red);
}
.colour-projects {
  background-color: var(--yellow);
}
.colour-creative {
  background-color: var(--green);
}
.colour-about {
  background-color: var(--blue);
}

/*Formatting*/
html,body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Lora', serif;
  min-height: 100vh;
  position: relative;
}

/***HEADER***/
header {
  display: flex;
  flex:  none;
  justify-content: space-between;
}

/**Logo**/
#logo {
  float: left;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  margin-left: 20px;
}
#logo a {
  color: black;
  text-decoration: none;
}

/**Nav Bar**/
.navigation {
  display: flex;
  font-family: 'Raleway', sans-serif;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  margin-right: 10px; 
}
.navigation a {
  color: black;
  display: block;
  font-style: normal;
  padding: 1em;
  text-decoration: none;
}
/*About Dropdown*/
#nav-about-dropdown {
  background-color: #f9f9f9;
  box-shadow: -10px 10px 16px 0px rgba(0,0,0,0.2);
  display: none;
  list-style: none;
  margin: 0;
  margin-right: 10px;
  padding:  0;
  position: absolute;
  right: 0;
  z-index: 1;
}

#nav-about-dropdown a:hover {
  background-color: var(--blue);
}

#nav-about:hover #nav-about-dropdown {
  display: block;
}

/*Hover*/
#nav-publications:hover {
  background-color: var(--red);
}
#nav-projects:hover {
  background-color: var(--yellow);
}
#nav-creative:hover {
  background-color: var(--green);
}
#nav-about:hover {
  background-color: var(--blue);
}

/*Mobile view*/
@media only screen and (max-width: 830px) {
  header {
    flex-direction: column;
  }
  .navigation {
    justify-content: space-evenly;
    padding: 0;
  }
  #logo {
    margin: auto;
    text-align: center;
  }
}

/**Graphics**/
.header-bar {
  border-top: 1px;
  height: 20px;
  width: 100%;
}

/***Content***/

/**Blurb**/
.blurb {
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

/**Tabs**/
.tabs-bar {
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.tab-nav {
  display: flex;
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
/*  padding-top: 30px;
*/  width: 50%;
}
.tab-button {
  background-color: #f9f9f9;
  cursor: pointer;
  margin: auto;
  padding: 0px 10px;
}
.tab-section {
  display: none;
}
.tab-section.active {
  display: flex;
}

/**Lists**/
.project-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 10px;
  padding-bottom: 50px;
  padding-left: 0;
}
.project-item {
  flex: none;
  height: 350px;
  margin: 10px auto;
  width: 350px;
}
.project-image {
   height: 350px;
   object-fit: cover;
   width: 350px;
}

/**Hover-Over**/
.project-hover {
  position: relative;
}
/*Overlay*/
.project-hover:hover .project-overlay {
  opacity: 1;
}
.project-overlay {
  bottom: 0;
  height: 15%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 85%;
  transition: .5s ease;
  width: 100%;
}
.project-overlay-text {
  text-shadow: 1px 1px #0000;
  color: white;
  font-size: 20px;
  margin: 0;
  transform: translate(0, 50%);
}

/*Transform*/
/*used for switching one image for another on hover. Not currently used*/
/*.project-hover:hover .image-still,
.project-hover .image-gif {
   display:  none;
}*/

/*.project-hover:hover .image-gif,
.project-hover .image-still {
   display: block;
}*/

/***FOOTER***/
footer {
  flex: none;
  background:#1A1110;
  bottom:0;
  color: white;
  height:50px;
  width:100%;
  position: absolute;
}
footer p {
  padding-left: 20px;
}
footer a {
  color: white;
}

/***PAGES***/

/**Landing**/
.landing-page {
  display: flex;
  flex: auto
}
.landing-page > * {
  flex: 1;
}
.landing-frame {
  border-right: 4px solid #1A1110;;
  border-top: 4px solid #1A1110;
  display: flex;
  flex-flow: row nowrap;
    position: relative;

}
.landing-frame:last-child {
  border-right: none;
}
.landing-frame img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: absolute;
  }

.landing-link {
  align-items: center;
  display: flex;
  height: calc(100% - 50px);
  justify-content: center;
  position: relative;
  width: 100%;
  text-align:  center;
}
.landing-link p {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  margin: 0;
  position: absolute;
  text-shadow: 1px 1px #ffffff;
}
.landing-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
}
.landing-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
}

/*Images*/
/*#landing-skills {
  background-image: url('../images/WIP-Logo.png');
}
#landing-toys {
  background-image: url('../images/toysbg.png');
}
#landing-diet {
  background-image: url('../images/dietbg.png');
}
#landing-pals {
  background-image: url('../images/palsbg.png');
}
#landing-about {
  background-image: url('../images/aboutbg.png');
}*/

/**Skills**/

/**Toys**/
#toys-list {
  list-style: none;
  margin: 10px auto;
  max-width: 75%;
  padding-bottom: 50px;
  width: 100%;
}
#toys-list li:nth-of-type(2n) .toys-text{
  margin-right: 30px;
}
#toys-list li:nth-of-type(2n+1) .toys-text{
  margin-left: 30px;
}
.toys-item {
  display: flex;
  margin-bottom: 20px;
}
.toys-item .project-item{
  height: 200px;
  width: 200px;
}
.toys-item .project-image{

  height: 200px;
  width: 200px;
}
.toys-text h2 {
  font-family: 'Raleway', sans-serif;
}

/**Diet**/
/*#diet-table {
  border-collapse: collapse;
  margin: 20px;
}
#diet-table th {
 font-family: 'Titillium Web', sans-serif;
 font-size: 16px;
}
#diet-table td {
  text-align: center;
}
#diet-table tbody tr:hover {
  background-color: #8ac92680;
}*/

/**About**/ 
/*Tab Colours*/
.tab-button.colour-about.active {
  background-color: #1982c4;
}
.tab-button.colour-about:hover {
  background-color: #1982c4;
}

/*Biography*/
#about-bio {
  width: 90%;
  margin: auto;
}
#bio-image {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-width: 200px;
  margin: 20px;
  border-radius: 100%;
}
#bio-text {
  margin: 20px;
  padding-bottom: 50px;
  text-align: justify;
}

/*My Family*/
#about-family {
  width: 90%;
  margin: auto;
  flex-direction: column;
  padding-bottom: 50px;
}
.family-section {
  display: flex;
}
.family-section h2 {
    font-family: 'Bonheur Royale', cursive;
    font-size: 40px;
}
.family-section a {
  text-decoration: none;
  color: black;
}
.family-image {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
  border-radius: 100%;
}
.family-text {
  text-align: justify;
  margin: 50px;
  margin-top: 0;
}
#family-jenny h2 {
  text-align: right;
}

/*Special Thanks*/
#about-thanks{
  justify-content: center;
}
