/****Initialisation****/
/*Colours*/
:root {
  --red: #ff595e;
  --yellow: #ffca3a;
  --green: #8ac926;
  --blue: #1982c4;
}
.colour-reports {
  background-color: var(--red);
  color: white;
}
.colour-projects {
  background-color: var(--yellow);
  color: black;
}
.colour-creative {
  background-color: var(--green);
  color: black;
}
.colour-about {
  background-color: var(--blue);
  color: white;
}
/*Formatting*/
html,body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Lora', serif;
  min-height: 100vh;
  position: relative;
}
/****Modules****/
/***HEADER***/
header {
  display: flex;
  flex:  none;
  justify-content: space-between;
}
/**Logo**/
#logo {
  float: left;
  margin-left: 20px;
}
#logo a {
  color: black;
  text-decoration: none;
}
#logo h1{
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  margin: 0;
}
/**Nav Bar**/
.navigation {
  display: flex;
  font-family: 'Raleway', sans-serif;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  margin-right: 10px; 
}
.navigation a {
  color: black;
  display: block;
  font-style: normal;
  padding: 1em;
  text-decoration: none;
}
/*About Dropdown*/
#nav-about-dropdown {
  background-color: #f9f9f9;
  box-shadow: -10px 10px 16px 0px rgba(0,0,0,0.2);
  display: none;
  list-style: none;
  margin: 0;
  margin-right: 10px;
  padding:  0;
  position: absolute;
  right: 0;
  z-index: 1;
}
#nav-about-dropdown a:hover {
  background-color: var(--blue);
}
#nav-about:hover #nav-about-dropdown {
  display: block;
}

.colour-reports a{
  color: white;
}
.colour-projects a{
  color: black;
}
.colour-creative a{
  color: black;
}
.colour-about a{
  color: white;
}

/*Nav Hover*/
#nav-reports:hover {
  background-color: var(--red);
}
#nav-reports:hover a{
  color: white;
}
#nav-projects:hover {
  background-color: var(--yellow);
}
#nav-creative:hover {
  background-color: var(--green);
}
#nav-creative:hover a{
  color: black;
}
#nav-about:hover {
  background-color: var(--blue);
}
#nav-about:hover a{
  color: white;
}

#nav-about:hover #nav-about-dropdown a{
  color: black;
}

#nav-about:hover #nav-about-dropdown a:hover{
  color: white;
}

/*Mobile view*/
@media only screen and (max-width: 830px) {
  header {
    flex-direction: column;
  }
  .navigation {
    justify-content: space-evenly;
    padding: 0;
  }
  #logo {
    margin: auto;
    text-align: center;
  }
  #nav-about-dropdown {
    margin-right: 9%;
  }
}
/***Content***/
/**Graphics**/
.header-bar {
  border-top: 1px;
  height: 20px;
  width: 100%;
}
/**Blurb**/
.blurb {
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
/**Tabs**/
.tabs-bar {
  height: 5px;
  margin: 0 auto;
  width: 50%;
  border-radius: 2px;
}
.tab-nav {
  display: flex;
  font-family: 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.tab-button {
  cursor: pointer;
  margin: auto;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
}
.tab-button:hover{
  border-radius: 2px 2px 0 0;
}
.tab-reports:hover{
  background-color: var(--red);
  color: white;
}
.tab-projects:hover{
  background-color: var(--yellow);
}
.tab-creative:hover{
  background-color: var(--green);
  color: black;
}

.tab-section {
  display: none;
}
.tab-section.active {
  display: flex;
}
/***FOOTER***/
footer {
  flex: none;
  background:#1A1110;
  bottom:0;
  color: white;
  height:50px;
  width:100%;
  position: absolute;
}
footer p {
  padding-left: 20px;
}
footer a {
  color: white;
}
/***PAGES***/
main {
  padding-bottom: 80px;
}
/**Landing**/
.landing-page {
  display: flex;
  flex: auto;
  padding-bottom: 0;
}
.landing-page > * {
  flex: 1;
}
.landing-frame {
  border-right: 4px solid #1A1110;;
  border-top: 4px solid #1A1110;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.landing-frame:last-child {
  border-right: none;
}
.landing-frame img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: absolute;
}
.landing-link {
  align-items: center;
  display: flex;
  height: calc(100% - 50px);
  justify-content: center;
  position: relative;
  width: 100%;
  text-align:  center;
}
.landing-text {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  position: absolute;
  text-shadow: 1px 1px 1px #fff;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright; 
}
.landing-image {
  background-repeat: repeat-y;
  background-size: contain;
  height: 100%;
  position: relative;
  width: 100%;
}
.landing-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
}
.landing-frame:hover .landing-overlay{
  opacity: 0.5;
}
/*Landing Images*/
#landing-reports {
  background-image: url('../images/landing_reports.png');
}
#landing-projects {
  background-image: url('../images/landing_projects.png');
}
#landing-creative {
  background-image: url('../images/landing_creative.png');
}
#landing-about {
  background-image: url('../images/landing_about.png');
}
/**Works**/
.works{
  padding: 0 20px;
}
.works-category{
  margin: 20px;
}
#works-reports .works-category{
    border-bottom: 2px solid var(--red);   
}
#works-projects .works-category{
    border-bottom: 2px solid var(--yellow);
}
#works-creative .works-category{
    border-bottom: 2px solid var(--green);
}

.works-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 5%;
}
.works-item{
  position: relative;
  transition: transform 1s;
  background-color: white;
  box-shadow: 1px 1px 5px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.works-private{
  display: none;
}
.works-favourite{
  /*border: 2px dashed black;*/
}
.works-new{
  /*border: 2px dashed gold;*/
}
.works-image{ 
  width:254px;
  height: 250px;
  object-fit: cover;
  margin: auto;
}
.works-title {
  text-shadow: 1px 1px #0000;
  font-size: 16px;
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 234px;
}
.works-title p{
  width: calc(100% - 50px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.works-button-modal{
  cursor: pointer;
  height: 250px;
}
.works-button-download{
  margin-right: 4px;
}
.works-nolink .works-button-download{
  display: none;
}
.works-nolink p{
  width: calc(100% - 25px);
}

/*Modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;  /*Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 70%;
  display: none;
  box-shadow: 0 0 4px black;
  border-radius: 8px;
}
.modal-text{
  overflow: auto;
}
.modal-text dl{
  padding-bottom: 30px;
}
.modal-text h3{
  margin: 0;
  margin-top: 16px;
}
.modal-text p{
  margin: 5px;
}
.modal-contributions{
  margin: 0;
  padding-left: 20px;
}
.modal-image{
  width: 40%;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 4px;
  object-fit: contain;
}
.modal-link {
  text-decoration: none;
}
.modal-link:visited {
  color: black;
}
.modal-title{
  color: black;
  text-underline-offset: 2px;
  text-transform: capitalize;
}
.modal-title-reports{
  text-decoration: underline solid var(--red) 2px;
}
.modal-link:hover .modal-title-reports{
  color: var(--red);
}
.modal-title-projects{
  text-decoration: underline solid var(--yellow) 2px;
}
.modal-link:hover .modal-title-projects{
  color: var(--yellow);
}

.modal-title-creative{
  text-decoration: underline solid var(--green) 2px;
}
.modal-link:hover .modal-title-creative{
  color: var(--green);
}
.modal-close{
  position: absolute;
  right: 10%;
  background: transparent;
  border: none;
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
}
.modal-close-reports:hover{
  background-color: var(--red);
  color: white;
}
.modal-close-projects:hover{
  background-color: var(--yellow);
  color: white;
}
.modal-close-creative:hover{
  background-color: var(--green);
  color: black;
}
/**About**/
#about-box{
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
#about-box *{
  margin: 5px 20px;
  justify-content: center;
}
#about-image {
  max-width: 200px;
  border-radius: 5%;
}
.about-links{
  display: flex; 
}
.about-link {
  text-decoration: underline solid var(--blue) 2px;
  text-underline-offset: 2px;
  color: black;
  text-align: center;
}
.about-link:hover{
  color: var(--blue);
}

/**WIP**/
#construction{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}
#construction-kiwi{
  height: 75vh;
  object-fit: contain;
}
.construction-message {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 24px;
}

